body[location='home'] {
    h1 {
        text-align: center;
        background: url('src/assets/images/title.webp');
        display: block;
        width: 100%;
        aspect-ratio: 21 / 9;
        overflow: hidden;
        background-size: contain;
        span {
            display: none;
        }
    }
    .intro_video img {
        width: 100%;
        

    }
    .posts {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .post_item {
            display: flex;
            flex-direction: row;
            color: black;
            text-decoration: none;
            gap: 8px;
            .name {
                order: 2;
            }
            .date {
                order: 1
            }
            &:hover {
                text-decoration: underline;
            }

        }
    }
}