body[location='home'] {

    .hero {
        text-align: center;
        padding: 40px 0 20px;
}
    .bio {
        font-size: 18px;
        max-width: 700px;
        margin: 0 auto 20px;
        line-height: 1.5;
}
  
    .intro_video img {
        width: 100%;
    }
    .links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        
        a {
            background-color: rgb(6, 164, 179);
            color: rgb(255,255,255);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 999px;
            span.name {
                display: none;
            }
            
        }

    }
    .posts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .post_item {
            display: flex;
            flex-direction: row;
            color: black;
            text-decoration: none;
            gap: 8px;
            .name {
                order: 2;
                font-weight: 600;
            }
            .date {
                order: 1
            }
            &:hover {
                text-decoration: underline;
            }

        }
    }
}