@import './../breakpoints.css';

body[location='projects'] {
    .projects {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
    .project_item {
        display: flex;
        .project_info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex: 1 1 auto;          
        } 
    }
}

@media (--small-only) {
    body[location='projects'] {
        article {
            padding: 0px
        }
        .project_item {
            flex-direction: column;
            align-items: center; 
            gap: 16px;
            border-bottom: solid 1px rgb(35, 9, 163);
            .thumb img {
                width: 80%;
            }
            .project_info {
                order: 2;
                padding: 16px;
                width: 100%;
                .bttn {
                    align-self: center;
                }
            }
        }
    }
}


@media (--medium-up) {
    body[location='projects'] {
        .project_item {
        display: flex;
        flex-direction: row;
        gap: 16px;
        }
    }
}