body[location='projects'] {
    .projects {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
    .project_item {
        display: flex;
        flex-direction: row;
        gap: 16px;
        .project_info {
            display: flex;
            flex-direction: column;
            gap: 8px;

        }
            a {
                display: inline-block;
                border-radius: 999px;
                padding: 12px 32px;
                background: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                align-self: flex-start;
                
            }

    
    }
}