body[location='projects'] {
    .projects {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }
    .project_item {
        display: flex;
        flex-direction: row;
        gap: 16px;
       
        .project_info {
            display: flex;
            flex-direction: row;
            gap: 12px;
            width: fit-content;
           
        } 
    }
}